# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
BlendProcess/.vs/
BlendProcess/x64/
BlendProcess/BlendProcess.vcxproj.user
BlendDemo/BlendDemo/Debug/
BlendDemo/BlendDemo/Release/
BlendDemo/BlendDemo/.vs/
BlendDemo/BlendDemo/BlendDemo_d.pdb
BlendDemo/BlendDemo/BlendDemo_d.ilk
BlendDemo/BlendDemo/BlendDemo.vcxproj.user
BlendDemo/BlendDemo/BlendDemo.map
